# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.txt text
*.rst text

# Source code
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.css text
*.scss text
*.sass text
*.html text
*.py text
*.sql text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary

# RC files (like .babelrc, .eslintrc)
*.*rc text

# Ignore files (like .gitignore, .eslintignore)
*.*ignore text

# Lock files
package-lock.json binary
yarn.lock binary 